body {
  margin: 20px 50px 0 50px;
  max-width: 1440px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1441px) {
  body {
    margin: 20px auto;
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin: 20px 30px 0 30px;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px 15px 0 15px;
  }
}