.kasa-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .kasa-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 18px;
  }

  .kasa-nav li a {
    margin-left: 40px;
    text-decoration: none;
    color: #FF6060;
  }

  .kasa-nav li a.active {
    text-decoration: underline;
  }

  @media screen and (max-width: 1000px) {
    .kasa-logo {
      width: 180px;
    }
}

@media screen and (max-width: 600px) {
    .kasa-logo {
      width: 110px;
    }
    .kasa-nav  {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
    }
    .kasa-nav li a {
      margin-left: 23px;
    }
}