.slideshow {
  margin: 40px auto 10px auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    max-width: 1440px;
}

.slideshow-content {
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  height: 385px;
  position: relative;
}

.slider img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
}

.active {
  opacity: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.left-arrow {
  left: 25px;
}

.right-arrow {
  right: 45px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-number {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 50%;
}

@media screen and (max-width: 600px) {
  .slideshow {
    max-width: 100%;
  }
  .slider {
    height: 250px;
    width: 100%;
    margin: 0 auto;
  }

  .left-arrow,
  .right-arrow {
    font-size: 30px;
  }
  .left-arrow {
    left: 15px;
  }
  
  .right-arrow {
    right: 15px;
  }
  .slide-number {
    display: none;
  }
 
}